@model BikeRentalWebApp.Models.RentalPointViewModel
@using static BikeRentalWebApp.Controllers.Warning
@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>

<h4>RentalPointViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div style="color:red">
            @BikeRentalWebApp.Controllers.Warning.warningMessage
        </div>
        <form asp-controller="RentalPoints" asp-action="Create">

            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Miasto" class="control-label"></label>
                <input name="Miasto" asp-for="Miasto" class="form-control" />
                <span asp-validation-for="Miasto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ulica" class="control-label"></label>
                <input name="Ulica" asp-for="Ulica" class="form-control" />
                <span asp-validation-for="Ulica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numer" class="control-label"></label>
                <input name="Numer" asp-for="Numer" class="form-control" />
                <span asp-validation-for="Numer" class="text-danger"></span>
            </div>
            <!--

            <div class="form-group">
                <input asp-action="Create" asp-controller="RentalPoints" type="submit" value="Create" class="btn btn-primary" />
            </div>

            -->
        </form>
    </div>
</div>

<div>
    <a asp-controller="RentalPoints" asp-action="List">Back to List</a>
</div>

