/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    font-family: 'Roboto', sans-serif;
    background: white;
}

a {
    color: black !important;
    text-decoration: none !important;
}
a:hover{
  color:black !important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.icon{
    width: 50px !important;
    height: 50px !important;
}
.details_image {
    width: 300px !important;
    height: 200px !important;
}


.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


/* Sekcja Header */

.logo{
  width:30%;
  height:50px;
  float:left;
  text-align: center;
}
.menu{
  text-align: right;
  float:left;
  width:70%;
  height:50px;
  margin-right:0;

  
}
.menu ul{
  list-style: none;
  width:50%;
  height: 50px;
  line-height: 50px;
}
.menu ul li{
  float:left;
  margin-right:10px;
  font-size: 20px;
}
.logo h1{
  font-family: "Cooper Black";
      font-size:30px;
}

header {
    height: 50px;
    -webkit-box-shadow: 0px 30px 15px -20px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 30px 15px -20px rgba(66, 68, 90, 1);
    box-shadow: 0px 30px 15px -20px rgba(66, 68, 90, 1);
    margin-bottom:20px;
}

.btn-hoover-dark:hover{
    color:#aeaeae !important;
}
/* underline menu animation */
.underline {
    display: inline;
    position: relative;
    overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #000;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.home{
  width:90%;
  margin: 10px auto 0 auto;
}
.accuont-menu-ul{
   
    text-align: right !important;
    
    width:40% !important;
}
.accuont-menu-ul li{
    display:inline;
    
}