@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home">
    <h2>Wynajmij już dziś swój rower</h2>
    <p>
        Wystarczy wybrać rower z listy, podpisać wirtualny dokument za pomocą swojego PESEL i już! Rower dostarczymy do ciebie w ciągu
        24H. 
        Oto Jeden z naszych przykładowych rowerów: <br/>
            <img src="Images/bike1.jpg" width="25%" height="25%"/>
    </p>
    
</div>